body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-10px;
  width:1411px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2785_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1411px;
  height:104px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0.686274509803922);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2785 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:13px;
  width:1411px;
  height:104px;
}
#u2785_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2786_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1411px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2786 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:13px;
  width:1411px;
  height:35px;
}
#u2786_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2787_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2787 {
  border-width:0px;
  position:absolute;
  left:1311px;
  top:22px;
  width:29px;
  height:16px;
}
#u2787_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2788_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2788 {
  border-width:0px;
  position:absolute;
  left:1359px;
  top:22px;
  width:29px;
  height:16px;
}
#u2788_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2789_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:italic;
}
#u2789 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:20px;
  width:173px;
  height:22px;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:italic;
}
#u2789_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  white-space:nowrap;
}
#u2790 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2791_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u2791 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:58px;
  width:418px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u2791_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  word-wrap:break-word;
}
#u2792_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:53px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2792 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:56px;
  width:78px;
  height:53px;
}
#u2792_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:74px;
  word-wrap:break-word;
}
#u2793_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2793 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:91px;
  width:404px;
  height:16px;
}
#u2793_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  word-wrap:break-word;
}
#u2794 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2795_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2795 {
  border-width:0px;
  position:absolute;
  left:721px;
  top:72px;
  width:37px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2795_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2796_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2796 {
  border-width:0px;
  position:absolute;
  left:774px;
  top:72px;
  width:90px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2796_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u2797_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2797 {
  border-width:0px;
  position:absolute;
  left:881px;
  top:72px;
  width:90px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2797_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u2798_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2798 {
  border-width:0px;
  position:absolute;
  left:987px;
  top:72px;
  width:90px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2798_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u2799_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2799 {
  border-width:0px;
  position:absolute;
  left:1094px;
  top:72px;
  width:90px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2799_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u2800_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2800 {
  border-width:0px;
  position:absolute;
  left:1201px;
  top:72px;
  width:90px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2800_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u2801_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2801 {
  border-width:0px;
  position:absolute;
  left:1307px;
  top:72px;
  width:90px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2801_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u2802 {
  border-width:0px;
  position:absolute;
  left:1172px;
  top:19px;
  width:124px;
  height:25px;
}
#u2802_input {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u2803_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u2803 {
  border-width:0px;
  position:absolute;
  left:1273px;
  top:23px;
  width:17px;
  height:17px;
}
#u2803_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2804 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:54px;
  width:492px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2805 {
  border-width:0px;
  position:absolute;
  left:707px;
  top:64px;
  width:58px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2806 {
  border-width:0px;
  position:absolute;
  left:781px;
  top:64px;
  width:76px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2807 {
  border-width:0px;
  position:absolute;
  left:888px;
  top:64px;
  width:76px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2808 {
  border-width:0px;
  position:absolute;
  left:994px;
  top:64px;
  width:76px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2809 {
  border-width:0px;
  position:absolute;
  left:1101px;
  top:64px;
  width:76px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2810 {
  border-width:0px;
  position:absolute;
  left:1312px;
  top:64px;
  width:76px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2811 {
  border-width:0px;
  position:absolute;
  left:1208px;
  top:64px;
  width:76px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2812 {
  position:fixed;
  right:5px;
  bottom:50px;
  width:66px;
  height:154px;
  overflow:hidden;
}
#u2812_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:154px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2812_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2813 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2814_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:65px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2814 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:65px;
  height:65px;
}
#u2814_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2815_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
}
#u2815 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:10px;
  width:37px;
  height:37px;
}
#u2815_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2816_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2816 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:47px;
  width:57px;
  height:16px;
}
#u2816_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2817 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2818_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:65px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2818 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:85px;
  width:65px;
  height:65px;
}
#u2818_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2819_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
}
#u2819 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:89px;
  width:37px;
  height:37px;
}
#u2819_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2820_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2820 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:131px;
  width:57px;
  height:16px;
}
#u2820_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2821 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:85px;
  width:66px;
  height:65px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2822 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:10px;
  width:60px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2823_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1411px;
  height:1419px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2823 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:116px;
  width:1411px;
  height:1419px;
}
#u2823_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2824_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1411px;
  height:224px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2824 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:116px;
  width:1411px;
  height:224px;
}
#u2824_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2825_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2825 {
  border-width:0px;
  position:absolute;
  left:635px;
  top:216px;
  width:109px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2825_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u2826_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:195px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2826 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:289px;
  width:213px;
  height:195px;
}
#u2826_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2827_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2827 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:306px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2827_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2828_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2828 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:397px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2828_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2829_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#0099FF;
}
#u2829 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:443px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#0099FF;
}
#u2829_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2830_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2830 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:352px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2830_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2831_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:2px;
}
#u2831 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:341px;
  width:172px;
  height:1px;
}
#u2831_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2832_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.427450980392157);
  line-height:22px;
}
#u2832 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:986px;
  width:150px;
  height:22px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.427450980392157);
  line-height:22px;
}
#u2832_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  white-space:nowrap;
}
#u2833_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  line-height:22px;
}
#u2833 {
  border-width:0px;
  position:absolute;
  left:1219px;
  top:981px;
  width:32px;
  height:32px;
  font-size:14px;
  color:#FFFFFF;
  line-height:22px;
}
#u2833_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:28px;
  word-wrap:break-word;
}
#u2834_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u2834 {
  border-width:0px;
  position:absolute;
  left:1259px;
  top:981px;
  width:32px;
  height:32px;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u2834_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:28px;
  word-wrap:break-word;
}
#u2835_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u2835 {
  border-width:0px;
  position:absolute;
  left:1299px;
  top:981px;
  width:32px;
  height:32px;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u2835_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:28px;
  word-wrap:break-word;
}
#u2836_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u2836 {
  border-width:0px;
  position:absolute;
  left:1339px;
  top:981px;
  width:32px;
  height:32px;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u2836_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:28px;
  word-wrap:break-word;
}
#u2837 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2838_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u2838 {
  border-width:0px;
  position:absolute;
  left:1179px;
  top:981px;
  width:32px;
  height:32px;
  font-size:12px;
  color:#666666;
}
#u2838_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2839_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u2839 {
  border-width:0px;
  position:absolute;
  left:1188px;
  top:990px;
  width:14px;
  height:14px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  opacity:0.400000005960464;
}
#u2839_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2840 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2841_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u2841 {
  border-width:0px;
  position:absolute;
  left:1381px;
  top:981px;
  width:32px;
  height:32px;
  font-size:12px;
  color:#666666;
}
#u2841_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u2842 {
  border-width:0px;
  position:absolute;
  left:1390px;
  top:990px;
  width:14px;
  height:14px;
  opacity:0.400000005960464;
}
#u2842_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2843_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2843 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:494px;
  width:57px;
  height:16px;
}
#u2843_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2844_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2844 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:520px;
  width:45px;
  height:25px;
}
#u2844_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:41px;
  word-wrap:break-word;
}
#u2845_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2845 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:520px;
  width:45px;
  height:25px;
}
#u2845_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:41px;
  word-wrap:break-word;
}
#u2846_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2846 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:520px;
  width:45px;
  height:25px;
}
#u2846_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:41px;
  word-wrap:break-word;
}
#u2847_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2847 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:520px;
  width:45px;
  height:25px;
}
#u2847_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:41px;
  word-wrap:break-word;
}
#u2848_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2848 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:555px;
  width:45px;
  height:25px;
}
#u2848_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:41px;
  word-wrap:break-word;
}
#u2849_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2849 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:555px;
  width:45px;
  height:25px;
}
#u2849_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:41px;
  word-wrap:break-word;
}
#u2850_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2850 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:596px;
  width:57px;
  height:16px;
}
#u2850_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2851 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:622px;
  width:101px;
  height:30px;
}
#u2851_input {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2851_input:disabled {
  color:grayText;
}
#u2852 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:622px;
  width:101px;
  height:30px;
}
#u2852_input {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2852_input:disabled {
  color:grayText;
}
#u2853 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2854_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:152px;
}
#u2854 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:397px;
  width:203px;
  height:152px;
}
#u2854_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2855_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:596px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2855 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:398px;
  width:596px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2855_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:596px;
  word-wrap:break-word;
}
#u2856_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:822px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2856 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:472px;
  width:822px;
  height:48px;
}
#u2856_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:822px;
  word-wrap:break-word;
}
#u2857_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u2857 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:531px;
  width:73px;
  height:16px;
  color:#0099FF;
}
#u2857_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2858_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0099FF;
}
#u2858 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:429px;
  width:300px;
  height:16px;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0099FF;
}
#u2858_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u2859_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2859 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:427px;
  width:20px;
  height:20px;
}
#u2859_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2860_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:italic;
}
#u2860 {
  border-width:0px;
  position:absolute;
  left:666px;
  top:452px;
  width:121px;
  height:16px;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:italic;
}
#u2860_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u2861_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:italic;
}
#u2861 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:452px;
  width:91px;
  height:16px;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:italic;
}
#u2861_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u2862_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:italic;
}
#u2862 {
  border-width:0px;
  position:absolute;
  left:804px;
  top:452px;
  width:91px;
  height:16px;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:italic;
}
#u2862_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u2863 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2864_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:596px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2864 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:590px;
  width:596px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2864_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:596px;
  word-wrap:break-word;
}
#u2865_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:822px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2865 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:660px;
  width:822px;
  height:48px;
}
#u2865_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:822px;
  word-wrap:break-word;
}
#u2866_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u2866 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:717px;
  width:73px;
  height:16px;
  color:#0099FF;
}
#u2866_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2867_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:152px;
}
#u2867 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:585px;
  width:203px;
  height:152px;
}
#u2867_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2868_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0099FF;
}
#u2868 {
  border-width:0px;
  position:absolute;
  left:574px;
  top:621px;
  width:300px;
  height:16px;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0099FF;
}
#u2868_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u2869_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2869 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:619px;
  width:20px;
  height:20px;
}
#u2869_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2870_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:italic;
}
#u2870 {
  border-width:0px;
  position:absolute;
  left:666px;
  top:642px;
  width:121px;
  height:16px;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:italic;
}
#u2870_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u2871_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:italic;
}
#u2871 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:642px;
  width:91px;
  height:16px;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:italic;
}
#u2871_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u2872_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:italic;
}
#u2872 {
  border-width:0px;
  position:absolute;
  left:804px;
  top:642px;
  width:91px;
  height:16px;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:italic;
}
#u2872_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u2873 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2874_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:822px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2874 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:849px;
  width:822px;
  height:48px;
}
#u2874_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:822px;
  word-wrap:break-word;
}
#u2875_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u2875 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:906px;
  width:73px;
  height:16px;
  color:#0099FF;
}
#u2875_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2876_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:152px;
}
#u2876 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:774px;
  width:203px;
  height:152px;
}
#u2876_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2877_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0099FF;
}
#u2877 {
  border-width:0px;
  position:absolute;
  left:576px;
  top:806px;
  width:300px;
  height:16px;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0099FF;
}
#u2877_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u2878_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2878 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:804px;
  width:20px;
  height:20px;
}
#u2878_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2879_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:596px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2879 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:777px;
  width:596px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2879_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:596px;
  word-wrap:break-word;
}
#u2880_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:italic;
}
#u2880 {
  border-width:0px;
  position:absolute;
  left:666px;
  top:828px;
  width:121px;
  height:16px;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:italic;
}
#u2880_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u2881_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:italic;
}
#u2881 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:828px;
  width:91px;
  height:16px;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:italic;
}
#u2881_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u2882_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:italic;
}
#u2882 {
  border-width:0px;
  position:absolute;
  left:804px;
  top:828px;
  width:91px;
  height:16px;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:italic;
}
#u2882_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u2883_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2883 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:671px;
  width:29px;
  height:16px;
}
#u2883_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2884 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:697px;
  width:100px;
  height:16px;
}
#u2884_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2884_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2885 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:697px;
  width:100px;
  height:16px;
}
#u2885_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2885_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2886 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:347px;
  width:89px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2887 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:393px;
  width:89px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2888 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:438px;
  width:89px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2890 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2891_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1411px;
  height:197px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2891 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:1338px;
  width:1411px;
  height:197px;
}
#u2891_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2892_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:656px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
  line-height:24px;
}
#u2892 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:1472px;
  width:656px;
  height:48px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
  line-height:24px;
}
#u2892_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:656px;
  word-wrap:break-word;
}
#u2893_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2893 {
  border-width:0px;
  position:absolute;
  left:713px;
  top:1392px;
  width:57px;
  height:16px;
}
#u2893_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2894_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2894 {
  border-width:0px;
  position:absolute;
  left:515px;
  top:1418px;
  width:141px;
  height:16px;
}
#u2894_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u2895_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2895 {
  border-width:0px;
  position:absolute;
  left:694px;
  top:1418px;
  width:113px;
  height:16px;
}
#u2895_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u2896_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2896 {
  border-width:0px;
  position:absolute;
  left:845px;
  top:1418px;
  width:85px;
  height:16px;
}
#u2896_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u2897_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2897 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:1432px;
  width:60px;
  height:16px;
}
#u2897_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u2898_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2898 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:1458px;
  width:109px;
  height:16px;
}
#u2898_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u2899_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2899 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:1430px;
  width:20px;
  height:20px;
}
#u2899_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2900_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u2900 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:1458px;
  width:15px;
  height:15px;
}
#u2900_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2901_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(101, 101, 101, 0.8);
  line-height:18px;
}
#u2901 {
  border-width:0px;
  position:absolute;
  left:1276px;
  top:1483px;
  width:49px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(101, 101, 101, 0.8);
  line-height:18px;
}
#u2901_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2902_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u2902 {
  border-width:0px;
  position:absolute;
  left:1250px;
  top:1373px;
  width:100px;
  height:100px;
}
#u2902_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2903_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2903 {
  border-width:0px;
  position:absolute;
  left:1288px;
  top:1412px;
  width:27px;
  height:25px;
}
#u2903_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2904_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u2904 {
  border-width:0px;
  position:absolute;
  left:1290px;
  top:1412px;
  width:24px;
  height:24px;
}
#u2904_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2905_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(101, 101, 101, 0.8);
  line-height:18px;
}
#u2905 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:1400px;
  width:49px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(101, 101, 101, 0.8);
  line-height:18px;
}
#u2905_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
